<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dolphin.awayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity android:name=".Menu"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="00fa76afc07461e16f298b5e74716f998cf39c8d"
            />
        <activity android:name=".PlayerMenu"
        android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".InventoryMenu"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".EnigmeList"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".EnigmeTextChoix"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".Level_choice"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".LevelStart"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".fin_niveau"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".LooseScreen"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <!-- Tutorielle -->
        <activity android:name=".EnigmeCoffret"
            android:screenOrientation="portrait"/>
        <!-- Chapter 1 -->
        <activity android:name=".cypherRoll_enigme"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
        <activity android:name=".EnigmeArmoire"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:largeHeap="true"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>